---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <h1>About</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo alias
    voluptate nisi maiores labore. Pariatur suscipit doloremque fuga nisi ipsum,
    dolores porro nemo voluptatem accusamus ullam magnam tempore molestiae
    temporibus modi quod praesentium assumenda ab impedit veritatis officiis
    facere quibusdam! Quaerat reiciendis possimus fugit autem similique ipsum at
    magnam ad?
  </p>
</Layout>
